$color_1: azure;
$color_2: grey;
$color_3: #2C8D95;
$color_4: aliceblue;
$color_5: darkcyan;
$color_6: dimgrey;
$font-family_1: 'Tangerine', cursive;
$font-family_2: 'Tangerine';
$background-color_1: #2C8D95;
$background-color_2: #cac97e;
$background-color_3: #93C7BA;
$background-color_4: rgb(198, 242, 255);
$background-color_5: #d6fafa;
$border-color_1: #2C8D95, 10px, solid;